[Desktop Entry]
Type=Application
Name=AOSC Media Writer
Name[ar]=كاتب وسائط فيدورا
Name[az]=AOSC Media Yazıcı
Name[bg]=AOSC Media Writer
Name[ca]=AOSC Media Writer
Name[cs]=AOSC Media Writer
Name[da]=AOSC-medieskriver
Name[de]=AOSC Media Writer
Name[es]=AOSC Media Writer
Name[eu]=AOSC Media Writer
Name[fi]=AOSC Media Writer
Name[fil]=AOSC Media Writer
Name[fr]=AOSC Media Writer
Name[fur]=Scritôr Supuarts di AOSC
Name[he]=כותב המדיה של AOSC
Name[hr]=AOSC zapisnik medija
Name[hu]=AOSC médiaíró
Name[id]=AOSC Media Writer
Name[it]=AOSC Media Writer
Name[ka]=AOSC Media Writer
Name[kn]=ಫೆಡೋರ ಮಾಧ್ಯಮ
Name[ko]=페도라 미디어 작성기
Name[ml]=ഫെഡോറ മാധ്യമ എഴുതുപകരണം 
Name[nl]=AOSC mediaschrijver
Name[pa]=ਫੇਡੋਰਾ ਮੀਡੀਆ ਰਾਇਟਰ
Name[pl]=AOSC Media Writer
Name[pt]=AOSC Media Writer
Name[pt-BR]=AOSC Media Writer
Name[ru]=AOSC Media Writer
Name[sk]=AOSC Media Writer
Name[sl]=AOSC Media Writer
Name[sq]=AOSC Media Writer
Name[sr]=AOSC Писач Медија
Name[sv]=AOSC Mediaskrivare
Name[ta]=ஃபெடோரா ஊடக எழுதி 
Name[tr]=AOSC Ortam Yazıcı
Name[uk]=AOSC Media Writer
Name[zh-CN]=AOSC Media Writer
Name[zh-TW]=AOSC 媒體寫入器
Comment=Write AOSC images to your portable drives
Comment[ar]=كتابة نسخ فيدروا الى الاقراص المحمولة
Comment[az]=AOSC görüntülərini portativ disklərinizə yazın
Comment[bg]=Записва образи на AOSC на преносими устройства
Comment[ca]=Escriviu imatges de AOSC a les vostres unitats portàtils
Comment[cs]=Zapisujte obrazy Fedory na přenosná média
Comment[da]=Skriv AOSC-aftryk på dine flytbare drev
Comment[de]=AOSC-Abbilder auf tragbare Datenträger schreiben
Comment[es]=Grabe imágenes de AOSC en sus unidades portátiles
Comment[eu]=Idatzi AOSC-ren irudiak zure disko eramangarrietan
Comment[fa]=ایمیج فدورا را روی درایو های قابل حمل خود رایت کنید
Comment[fi]=Kirjoita AOSCn levykuvia siirrettäville laitteille
Comment[fil]=Sumulat ng mga imahe ng AOSC sa iyong mga portable drive
Comment[fr]=Écrivez des images de AOSC sur vos disques amovibles
Comment[fur]=Scrîf lis imagjins di AOSC tes tôs unitâts portatilis
Comment[he]=כתיבת דמויות AOSC אל כוננים ניידים
Comment[hr]=Zapišite AOSC slike na vaše uklonjive uređaje
Comment[hu]=Írjon AOSC lemezképeket a hordozható meghajtóira
Comment[id]=Tulis image AOSC ke drive portabel Anda
Comment[it]=Scrive le immagini AOSC su unità portatili
Comment[ja]=AOSCイメージをお使いのポータブルメディアに書き込みます
Comment[ka]=AOSC-ის ასლის გადატანად დისკებზე ჩაწერა
Comment[ko]=사용자의 이동식 드라이브에 페도라 이미지를 작성합니다
Comment[ml]=ഫെഡോറ ഡിസ്ക് ചിത്രത്തിനെ പെന് ഡ്രൈവിൽ എഴുത്തു
Comment[nl]=Schrijf AOSC images op je draagbare drives
Comment[pa]=ਫੇਡੋਰਾ ਈਮੇਜ਼ ਨੂੰ ਆਪਣੇ ਪੋਰਟੇਬਲ ਡਰਾਇਵ 'ਤੇ ਲਿਖੋ
Comment[pl]=Zapisywanie obrazów Fedory na dyskach USB
Comment[pt]=Grave imagens do AOSC nos seus dispositivos portáteis
Comment[pt-BR]=Grave imagens do AOSC em seus dispositivos portáteis
Comment[ru]=Запись образов AOSC на переносные диски
Comment[sk]=Zapisujte obrazy Fedory na vaše prenosné disky
Comment[sl]=Pisanje slik Fedore na vaše prenosljive pogone
Comment[sq]=Shkruani pamje AOSC te disqet tuaj portativë
Comment[sr]=Пишите AOSC слике на ваше преносне уређаје
Comment[sv]=Skriv AOSCavbilder till dina portabla enheter
Comment[ta]=ஃபெடோராவை உங்கள் பெயரத்தகு சாதனத்தில் எழுதுக
Comment[tr]=AOSC görüntülerini taşınabilir aygıtlarınıza yazın
Comment[uk]=Запис образів AOSC на портативні пристрої
Comment[zh-CN]=将 AOSC 镜像写入到可移动驱动器中
Comment[zh-TW]=將 AOSC 映像檔寫入您的卸除式裝置中
Icon=io.aosc.MediaWriter
Exec=mediawriter
Terminal=false
Categories=System;
Keywords=fmw;usb;iso;bootable;

