[Desktop Entry]
Type=Application
Name=Media Writer
Name[zh_CN]=启动盘制作向导
Comment=Write system media images to your portable drives
Icon=io.aosc.MediaWriter
Exec=mediawriter
Terminal=false
Categories=System;
Keywords=fmw;usb;iso;bootable;

