[Desktop Entry]
Type=Application
Name=AcreetionOS Media Writer
Comment=Write AcreetionOS images to your portable drives
Icon=org.acreetionos.MediaWriter
Exec=mediawriter
Terminal=false
Categories=System;
Keywords=acreetionos;usb;iso;bootable;
