[Desktop Entry]
Type=Application
Name=Fedora Media Writer
Name[ar]=كاتب وسائط فيدورا
Name[az]=Fedora Media Yazıcı
Name[be]=Fedora Media Writer
Name[bg]=Fedora Media Writer
Name[ca]=Fedora Media Writer
Name[cs]=Fedora Media Writer
Name[da]=Fedora-medieskriver
Name[de]=Fedora Media Writer
Name[el]=Fedora Media Writer
Name[es]=Fedora Media Writer
Name[eu]=Fedora Media Writer
Name[fi]=Fedora Media Writer
Name[fil]=Fedora Media Writer
Name[fr]=Fedora Media Writer
Name[fur]=Scritôr Supuarts di Fedora
Name[he]=כותב המדיה של Fedora
Name[hr]=Fedora zapisnik medija
Name[hu]=Fedora médiaíró
Name[id]=Fedora Media Writer
Name[it]=Fedora Media Writer
Name[ka]=Fedora Media Writer
Name[kab]=Fedora Media Writer
Name[kn]=ಫೆಡೋರ ಮಾಧ್ಯಮ
Name[ko]=페도라 미디어 작성기
Name[ml]=ഫെഡോറ മാധ്യമ എഴുതുപകരണം 
Name[nl]=Fedora mediaschrijver
Name[pa]=ਫੇਡੋਰਾ ਮੀਡੀਆ ਰਾਇਟਰ
Name[pl]=Fedora Media Writer
Name[pt]=Fedora Media Writer
Name[pt-BR]=Fedora Media Writer
Name[ro]=Fedora Media Writer
Name[ru]=Fedora Media Writer
Name[sk]=Fedora Media Writer
Name[sl]=Fedora Media Writer
Name[sq]=Fedora Media Writer
Name[sr]=Fedora Писач Медија
Name[sv]=Fedora Mediaskrivare
Name[ta]=ஃபெடோரா ஊடக எழுதி 
Name[tr]=Fedora Ortam Yazıcı
Name[uk]=Fedora Media Writer
Name[zh-CN]=Fedora Media Writer
Name[zh-TW]=Fedora 媒體寫入器
Comment=Write Fedora images to your portable drives
Comment[ar]=اكتب صور أقراص فيدورا على محرك أقراصك المحمول
Comment[az]=Fedora görüntülərini portativ disklərinizə yazın
Comment[be]=Запіс вобразаў Fedora на пераносныя дыскі
Comment[bg]=Записва образи на Fedora на преносими устройства
Comment[ca]=Escriviu imatges de Fedora a les vostres unitats portàtils
Comment[cs]=Zapisujte obrazy Fedory na přenosná média
Comment[da]=Skriv Fedora-aftryk på dine flytbare drev
Comment[de]=Fedora-Abbilder auf tragbare Datenträger schreiben
Comment[el]=Κάντε εγγραφή ειδώλων του Fedora στις φορητές μονάδες σας
Comment[es]=Grabe imágenes de Fedora en sus unidades portátiles
Comment[eu]=Idatzi Fedora-ren irudiak zure disko eramangarrietan
Comment[fa]=ایمیج فدورا را روی درایو های قابل حمل خود رایت کنید
Comment[fi]=Kirjoita Fedoran levykuvia siirrettäville laitteille
Comment[fil]=Sumulat ng mga imahe ng Fedora sa iyong mga portable drive
Comment[fr]=Écrivez des images Fedora sur vos lecteurs amovibles
Comment[fur]=Scrîf lis imagjins di Fedora tes tôs unitâts portatilis
Comment[he]=כתיבת דמויות Fedora אל כוננים ניידים
Comment[hr]=Zapišite Fedora slike na vaše uklonjive uređaje
Comment[hu]=Írjon Fedora lemezképeket a hordozható meghajtóira
Comment[id]=Tulis image Fedora ke drive portabel Anda
Comment[it]=Scrive le immagini Fedora su unità portatili
Comment[ja]=Fedoraイメージをお使いのポータブルメディアに書き込みます
Comment[ka]=Fedora-ის ასლის გადატანად დისკებზე ჩაწერა
Comment[kab]=Aru tugniwin n Fedora ɣef yinuḍaf n ufus
Comment[ko]=사용자의 이동식 드라이브에 페도라 이미지를 작성합니다
Comment[ml]=ഫെഡോറ ഡിസ്ക് ചിത്രത്തിനെ പെന് ഡ്രൈവിൽ എഴുത്തു
Comment[nl]=Schrijf Fedora images op je draagbare drives
Comment[pa]=ਫੇਡੋਰਾ ਈਮੇਜ਼ ਨੂੰ ਆਪਣੇ ਪੋਰਟੇਬਲ ਡਰਾਇਵ 'ਤੇ ਲਿਖੋ
Comment[pl]=Zapisywanie obrazów Fedory na dyskach USB
Comment[pt]=Grave imagens do Fedora nos seus dispositivos portáteis
Comment[pt-BR]=Grave imagens do Fedora em seus dispositivos portáteis
Comment[ro]=Scrie imagini Fedora pe unitățile dvs. amovibile
Comment[ru]=Запись образов Fedora на переносные диски
Comment[sk]=Zapisujte obrazy Fedory na vaše prenosné disky
Comment[sl]=Pisanje slik Fedore na vaše prenosljive pogone
Comment[sq]=Shkruani pamje Fedora te disqet tuaj portativë
Comment[sr]=Пишите Fedora слике на ваше преносне уређаје
Comment[sv]=Skriv Fedoraavbilder till dina portabla enheter
Comment[ta]=ஃபெடோராவை உங்கள் பெயரத்தகு சாதனத்தில் எழுதுக
Comment[tr]=Fedora görüntülerini taşınabilir aygıtlarınıza yazın
Comment[uk]=Запис образів Fedora на портативні пристрої
Comment[zh-CN]=将 Fedora 镜像写入到可移动驱动器中
Comment[zh-TW]=將 Fedora 映像檔寫入您的卸除式裝置中
Icon=org.fedoraproject.MediaWriter
Exec=mediawriter
Terminal=false
Categories=System;
Keywords=fmw;usb;iso;bootable;

