name: pr-check

on: [pull_request]

env:
    QT_VERSION: '6.10.1'

jobs:
  Linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install liblzma
        run: |
          sudo apt update
          sudo apt install liblzma-dev
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QT_VERSION}}
          cache: true
          cache-key-prefix: ${{ github.job }}-qt

      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make -j5

  Flatpak:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.10
      options: --privileged
    steps:
      - uses: actions/checkout@v4

      - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: "org.fedoraproject.MediaWriter.flatpak"
          manifest-path: "dist/flatpak/org.fedoraproject.MediaWriter.json"
          cache-key: flatpak-builder-${{ github.sha }}

      - uses: actions/upload-artifact@v4
        with:
          name: org.fedoraproject.MediaWriter.flatpak
          path: org.fedoraproject.MediaWriter.flatpak

  macOS:
    strategy:
      matrix:
        arch: [x86_64, arm64]
        include:
          - arch: x86_64
            runner: macos-15-intel
            dmg_suffix: ""
          - arch: arm64
            runner: macos-15
            dmg_suffix: "-arm64"
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QT_VERSION}}
          modules: qtimageformats
          cache: true
          cache-key-prefix: ${{ github.job }}-${{ matrix.arch }}-qt

      - name: Build
        run: |
          set -eo pipefail
          mkdir build
          cd build
          if [ "${{ matrix.arch }}" == "x86_64" ]; then
            cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES="${{ matrix.arch }}"
          else
            cmake .. -DCMAKE_BUILD_TYPE=Release
          fi
          cmake --build . --parallel

      - name: Bundle
        run: |
          set -eo pipefail
          "$QT_ROOT_DIR"/bin/macdeployqt build/src/app/FedoraMediaWriter.app -qmldir=src/app/qml -executable=build/src/app/FedoraMediaWriter.app/Contents/MacOS/helper
          # No idea why but macdeployqt deploys debug libs too, just remove them, maybe fix this sometimes
          for i in `find build/src/app/FedoraMediaWriter.app/ -name '*.dSYM'`; do rm -fr "$i"; done
          cd build/src/app/
          "$QT_ROOT_DIR"/bin/macdeployqt FedoraMediaWriter.app -dmg -always-overwrite
          mv FedoraMediaWriter.dmg ../../../FedoraMediaWriter-macos${{ matrix.dmg_suffix }}.dmg

      - uses: actions/upload-artifact@v4
        with:
          name: FedoraMediaWriter-macos${{ matrix.dmg_suffix }}.dmg
          path: FedoraMediaWriter-macos${{ matrix.dmg_suffix }}.dmg

  Windows-MSVC:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install dependencies
        shell: bash
        run: |
          choco install nsis
          choco install dos2unix
          choco install cmake

      - name: Set up CPM cache
        id: cache-cpm
        uses: actions/cache@v4
        with:
          path: ~/cpm-cache
          key: ${{ runner.os }}-cpm-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: |
            ${{ runner.os }}-cpm-

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QT_VERSION}}
          arch: win64_msvc2022_64
          cache: true
          cache-key-prefix: ${{ github.job }}-qt

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Build xz-utils
        shell: bash
        run: |
          eval "$(./dist/win/make-vs2022-env.bat)"
          git clone https://git.tukaani.org/xz.git
          cd xz
          git checkout v5.4.5
          sed -i 's/#include "config.h"//' src/common/common_w32res.rc
          sed -i 's/PACKAGE_NAME/"liblzma"/' src/common/common_w32res.rc
          sed -i 's/PACKAGE_URL/"https:\/\/tukaani.org\/xz\/"/' src/common/common_w32res.rc
          mkdir build
          cd build
          export CPM_SOURCE_CACHE=~/cpm-cache
          export CMAKE_PREFIX_PATH="$QT_ROOT_DIR"/lib/cmake
          "/c/Program Files/CMake/bin/cmake.exe" .. -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="$QT_ROOT_DIR" -DBUILD_SHARED_LIBS=ON
          "/c/Program Files/CMake/bin/cmake.exe" --build . --config Release
          "/c/Program Files/CMake/bin/cmake.exe" --install . --config Release

      - name: Build MediaWriter
        shell: bash
        run: |
          eval "$(./dist/win/make-vs2022-env.bat)"
          mkdir build
          cd build
          export CPM_SOURCE_CACHE=~/cpm-cache
          export CMAKE_PREFIX_PATH="$QT_ROOT_DIR"/lib/cmake
          "/c/Program Files/CMake/bin/cmake.exe" .. -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="$QT_ROOT_DIR"
          "/c/Program Files/CMake/bin/cmake.exe" --build . --config Release
          "/c/Program Files/CMake/bin/cmake.exe" --install . --config Release

      - name: Windeployqt
        shell: bash
        run: |
          mkdir -p build/app/release
          cd build/app/release
          mv ../../src/app/helper.exe .
          mv ../../src/app/mediawriter.exe .
          cp $QT_ROOT_DIR/bin/liblzma.dll .
          $QT_ROOT_DIR/bin/windeployqt.exe mediawriter.exe helper.exe liblzma.dll --verbose 2 --qmldir ../../.. --compiler-runtime --release
          find . -type d -not -path '*/\.*' | sed 's/^\.\///g' | sed 's@\/@\\@g' | grep -v "^.$" > uninstall.log
          find . -type f -not -path '*/\.*' | sed 's/^\.\///g' | sed 's@\/@\\@g' | sort >> uninstall.log

      - name: Installer
        shell: bash
        run: |
          VERSION_STRIPPED=$(sed "s/-.*//" <<< "${{ env.TAG_NAME }}")
          if [[ "$VERSION_STRIPPED" == "" ]]; then
              VERSION_STRIPPED=5.2.50
          fi
          VERSION_MAJOR=$(cut -d. -f1 <<< "${VERSION_STRIPPED}")
          VERSION_MINOR=$(cut -d. -f2 <<< "${VERSION_STRIPPED}")
          VERSION_BUILD=$(cut -d. -f3 <<< "${VERSION_STRIPPED}")
          INSTALLED_SIZE=$(du -k -d0 "build/app/release" | cut -f1)

          cp "dist/win/mediawriter_native.nsi" "dist/win/mediawriter_native.tmp.nsi"

          sed -i "s/#!define VERSIONMAJOR/!define VERSIONMAJOR ${VERSION_MAJOR}/" "dist/win/mediawriter_native.tmp.nsi"
          sed -i "s/#!define VERSIONMINOR/!define VERSIONMINOR ${VERSION_MINOR}/" "dist/win/mediawriter_native.tmp.nsi"
          sed -i "s/#!define VERSIONBUILD/!define VERSIONBUILD ${VERSION_BUILD}/" "dist/win/mediawriter_native.tmp.nsi"
          sed -i "s/#!define INSTALLSIZE/!define INSTALLSIZE ${INSTALLED_SIZE}/" "dist/win/mediawriter_native.tmp.nsi"

          unix2dos < "LICENSE.GPL-2" > "build/app/release/LICENSE.GPL-2.txt"
          unix2dos < "LICENSE.LGPL-2" > "build/app/release/LICENSE.LGPL-2.txt"

          echo "LICENSE.GPL-2.txt" >> build/app/release/uninstall.log
          echo "LICENSE.LGPL-2.txt" >> build/app/release/uninstall.log

          mkdir -p dist/win/plugins
          curl -L -o NScurl.zip "https://github.com/negrutiu/nsis-nscurl/releases/download/v25.11.11.274/NScurl.zip"
          unzip -o NScurl.zip -d NScurl_temp
          cp NScurl_temp/Plugins/x86-unicode/NScurl.dll "dist/win/plugins/"
          rm -rf NScurl.zip NScurl_temp

          "/c/Program Files (x86)/NSIS/makensis.exe" -DCERTPATH="" -DCERTPASS="" dist/win/mediawriter_native.tmp.nsi
          mv dist/win/FMW-setup.exe ./"FedoraMediaWriter-win64.exe"

      - name: Portable
        shell: bash
        run: |
          # Remove uninstall.log as it's only needed for the installer
          rm -f build/app/release/uninstall.log

          mkdir -p FedoraMediaWriter-portable
          cp -r build/app/release/* FedoraMediaWriter-portable/

          7z a -tzip "FedoraMediaWriter-win64-portable.zip" ./FedoraMediaWriter-portable/*

      - uses: actions/upload-artifact@v4
        with:
          name: FedoraMediaWriter-win64-portable.zip
          path: FedoraMediaWriter-win64-portable.zip

      - uses: actions/upload-artifact@v4
        with:
          name: FedoraMediaWriter-win64.exe
          path: FedoraMediaWriter-win64.exe
